@Model List<LMS.Model.Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<html>
<head>
    <title>Entity Framework</title>
</head>
<body>
    <h1>Entity Framework</h1>
    <table border="1">
        <tr>
            <th>Emp ID</th>
            <th>Emp Name</th>
            <th>Salary</th>
        </tr>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Email</td>
                <td>@emp.EmployeeName</td>
                <td>@emp.Mobile</td>
            </tr>
        }
    </table>
</body>
</html>


